<!DOCTYPE html>
	<html>
		<head>
                        <nav>
                        <ul align="center">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/blog">Blog</a></li>
                        </ul>
                        </nav>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<p style="text-align:center"><img alt="" src="https://github.com/blackhatsquirrel/branding/raw/master/new-logo-transparent.png" /></p>
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nobody@blackhatsquirrel.com">email</a></li>
	        		<li><a href="https://github.com/blackhatsquirrel">github.com/blackhatsquirrel</a></li>
				</ul>
			</footer>
		  {% include analytics.html %}
		</body>
	</html>
